# Ignorar dependencias de Node.js si las tienes por alguna razón
node_modules

# Ignorar artefactos de construcción locales
target/*.jar
target/
.mvn/
.gradle/
.idea/
.vscode/

# Archivos temporales y de configuración
.git
.gitignore
**/docker-compose.yml